@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700");

.pattern {
  width: 100%;
  height: 100vh;
  background-size: cover;
  /* border: 2px solid #333; */

  /* Create repeating 45-degree lines */
  background: linear-gradient(
    145deg,
    /* Line color start */ #41414193 1px,
    /* Line thickness */ transparent 1px
  );
  background-size: 16px 16px;

  background-repeat: repeat;
}

.exp {
  position: relative;
  padding-left: 30px; /* space for the box */

}

.exp::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #c0c0c0;
  z-index: 1;
}

.exp::after {
  content: "";
  position: absolute;
  left: 5px; /* centers line under the circle (12px wide circle → 5px offset) */
  top: 50%; /* starts just below the circle */
  width: 2px;
  height: calc(114% - 0px);
  background-color: #c0c0c0;
}

.exp:last-child::after {
  content: none; /* Remove line for the last item */
}

.exp:hover::before {
  background-color: #333;
}
